.country-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  transform: translateY(0);
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

.country-card-text {
  padding: 32px;
}

.country-card-name {
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.country-card-flag {
  cursor: pointer;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  height: 180px;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.information-field,
.country-card-name {
  padding: 5px;
  text-align: left;
}

@media (min-width: 1440px) {
  .country-card {
    width: 295px;
    margin-inline: 0;
  }

  .country-card:hover {
    transform: scale(1.05);
    transform-origin: bottom;
    box-shadow: 0 15px 25px 2px rgba(0, 0, 0, 0.2);
  }
}
