.dark-mode-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: var(--clr-very-light-gray);
  border-radius: 9999px;
}

.dark-mode-container-left {
  background-color: var(--clr-medium-blue);
}

.dark-mode-container-right {
  background-color: var(--clr-light-gray);
}

.dark-mode-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.dark-mode-circle-left {
  margin-left: 2px;
  transition: transform 0.2s ease-in-out;
  background-color: var(--clr-dark-blue);
}

.dark-mode-circle-right {
  transition: transform 0.2s ease-in-out;
  color: var(--clr-dark-blue);
  background-color: var(--clr-very-light-gray);
  transform: translateX(41px);
}

.dark-mode-icon {
  width: 24px;
  height: 24px;
}
