.dark-mode-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: var(--clr-very-light-gray);
  border-radius: 9999px;
}

.dark-mode-container-left {
  background-color: var(--clr-medium-blue);
}

.dark-mode-container-right {
  background-color: var(--clr-light-gray);
}

.dark-mode-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.dark-mode-circle-left {
  margin-left: 2px;
  background-color: var(--clr-dark-blue);
  animation: goLeft 0.3s ease-in-out forwards;
}

.dark-mode-circle-right {
  color: var(--clr-dark-blue);
  background-color: var(--clr-white);
  transform: translateX(41px);
  animation: goRight 0.3s ease-in-out forwards;
}

.dark-mode-icon {
  width: 24px;
  height: 24px;
}

@keyframes goRight {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(43px);
  }
  100% {
    transform: translateX(41px);
  }
}

@keyframes goLeft {
  0% {
    transform: translateX(41px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
