.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

.dark-mode {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.logo-icon {
  width: 22px;
  height: 22px;
  margin-left: 3px;
  margin-bottom: -2px;
}

.logo-small {
  display: none;
}

@media (min-width: 768px) {
  .logo-small {
    display: inline;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-inline: 96px;
  }
}
