.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.dark-mode{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

@media (min-width:1440px){
    .header{
        padding-inline: var(--padding-global-horizontal);
    }
}