.search-country {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 32px;
  margin-top: 32px;
}

input {
  height: 48px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
  font-size: 18px;
}

input::placeholder {
  opacity: 0.3;
}

input:focus {
  outline: none;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 24px;
  border-radius: var(--border-radius-mobile);
}

.search-bar-search-icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 1440px) {
  .search-bar {
    width: 40%;
  }

  input {
    width: 100%;
  }

  .search-country {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 96px;
    margin-inline: 0;
  }
}
